/*
1.Posicionamiento
2.Modelo de caja
3.Tipografia
4.Visuales
5.Otro
*/

/* Colores */
:root{
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --warm-black-1: #282623;
    --grey: #BABABA;
    --off-while: #FAF8F7;
    --just-while: #FFFFFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 334px;
    min-width: 320px;
    justify-content: center;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img{
    width: 153px;
    height: 24px;
    align-self: center;
}

header .header-container{
    width: 90%;
    min-width: 228px;
    max-width: 900px;
    margin-top: 24px;
    align-self: center;
    text-align: center;
}

.header-container h1{
    margin-top: 24px;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: var(--just-while);
}

.header-container p{
    margin-top: 24px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: var(--soft-orange);
}

.header-container .header-button{
    position: absolute;
    display: block;
    text-decoration: none;
    width: 229px;
    height: 48px;
    padding: 15px;
    top: 315px;
    left: calc(50% - 114px);
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--warm-black);
    background-color: var(--off-while);
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.header-button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/Icons/Vector.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

main {
    width: 100%;
    height: auto;
    min-width: 320px;
    background-color: var(--off-while);
}

.main-seccion-one {
    width: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
}

.main-seccion-one .main-img{
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 30px;
}

.main-img img{
    width: 190px;
    height: 190px;
    margin: 0 auto;
}

.main-seccion-one .main-one-text{
    width: 90%;
    max-width: 900px;
    min-width: 250px;
    margin: 0 auto;
}

.main-one-text h2{
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--warm-black);
    font-weight: bold;
    margin-bottom: 20px;
}

.main-one-text p{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #757575;
    margin-bottom: 30px;
}

.section-tables{
    display: flex;
    height: 350px;
    overflow-y: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.main-seccion-one .main-one-tableOne{
    width: 70%;
    height: 350px;
    scroll-snap-align: center;
    max-width: 500px;
    min-width: 235px;
    margin: 0 45px;
    color: var(--grey);
    font-family: 'Inter', sans-serif;
}

.main-seccion-one .table-title, .table-title-left{
    width: 70%;
    max-width: 300px;
    min-width: 230px;
    text-align: left;
    margin: 0 auto;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
    margin-bottom: 20px;
    padding-left: 20px;
  
}

.main-one-tableOne .main-table-container{
    display: flex;
    position: relative;
    width: 70%;
    height: 200px;
    margin: 0 auto;
    max-width: 300px;
    min-width: 230px;
}

.main-table-container table{
    width: 100%;
    height: 100%;
}

.main-table-container td{
    width: 50%;
    background-color: var(--just-while);
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 500;
}
.main-table-container .table-right{
    color: #757575;

}

.main-table-container .top-left{
    border-radius: 5px 0 0 0;
}

.main-table-container .top-right{
    border-radius: 0 5px 0 0;
}

.main-table-container .bottom-left{
    border-radius: 0 0 0 5px;
}

.main-table-container .bottom-right{
    border-radius: 0 0 5px 0;
}

.main-table-container .arrow-down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background: url('./assets/Icons/trending-down.svg') no-repeat center;
    background-size: contain;
}

.main-table-container .arrow-up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background: url('./assets/Icons/trending-up.svg') no-repeat center;
    background-size: contain;
}

.tableOne-update, .tableOne-update-left{
    width: 190px;
    height: 30px;
    background-color: var(--soft-orange);
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 10px;
    padding: 8px;
    padding-right: 20px;
}

.tableOne-update, .tableOne-update-left p{
    color: var(--warm-black);
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.5rem;
  
}
.main-table-container .table-right-arrow{
    position: absolute;
    align-self: center;
    right: -25px;
}

.main-one-tableOne .table-title-left{
    color: var(--secondary-blue);
}
.main-one-tableOne .tableOne-update-left{
    background-color: var(--soft-blue);
}

.section-threCards{
    position: relative;
    width: 100%;
    padding: 15px;
    background-color: var(--warm-black);
}

.section-threCards .three--logo{
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 25px;
    background: url('./assets/Icons/Group.svg') no-repeat center;
    background-size: cover;
    top: -10px;
    left: calc(50% - 20px);
}

.section-threCards .three-title{
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

.three-title h2{
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--just-while);
    font-weight: bold;
    margin-bottom: 20px;
}

.three-title p{
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 500;
    color: #808080;
    margin-bottom: 20px;
}

.cards--itemCard{
    width: 90%;
    height: 150px;
    min-width: 288px;
    max-width: 400px;
    margin: 15px auto;
    padding: 10px;
    background-color: var(--warm-black-1);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.16);
}

.cards--itemCard .clock{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('./assets/Icons/clock.svg') no-repeat center;
    background-size: cover;
    margin-bottom: 15px;
}
.cards--itemCard .eyes{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('./assets/Icons/eye.svg') no-repeat center;
    background-size: cover;
    margin-bottom: 15px;
}
.cards--itemCard .money{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('./assets/Icons/dollar-sign.svg') no-repeat center;
    background-size: cover;
    margin-bottom: 15px;
}
.cards--itemCard .check{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('./assets/Icons/check-circle.svg') no-repeat center;
    background-size: cover;
    margin-bottom: 15px;
}
.cards--itemCard .cards--title{
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: var(--just-while);
    font-weight: bold;
    margin-bottom: 10px;
}

.cards--itemCard .cards--parrafo{
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #808080;
}

main .section-comodin-img{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background: url('./assets/imgs/bitcoinbaby2.png') no-repeat center;
    background-size: cover;
    text-align: center;
}

.section-comodin-img h2{
    padding-top: 64px;
    font-size: 2.4rem;
    line-height: 2.9rem;
    font-weight: bold;
    color: var(--just-while);

}

main .section-final{
    width: 100%;
    min-width: 320px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-final .section-final--title{
    width: 90%;
    margin: 0 auto;
}

.section-final--title h2{
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: var(--warm-black);
    margin-bottom: 20px;
}

.section-final--title p{
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 500;
    color: #757575;
    margin-bottom: 50px;

}

.plans{
    display: flex;
    
    height: 320px;
    overflow-y: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plans--container{
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 224px;
    max-width: 300px;
    height: 247px;
    margin: 30px 15px;
    background-color: var(--just-while);
    padding: 0 15px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.16);
}

.plans .plans--tittle{
    position: absolute;
    width: 121px;
    height: 30px;
    color: var(--just-while);
    background-color: var(--bitcoin-orange);
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: bold;
    top: -15px;
    left: calc(50% - 60px);
    border-radius: 8px;
    padding: 6px;
}

.plants-text--container .plans--pago{
    padding-top: 30px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: var(--warm-black);
}

.plants-text--container .plans--precio{
    font-size: 5.2rem;
    line-height: 5.3rem;
    font-weight: bold;
    color: var(--warm-black);
}

.plants-text--container .plans--precio span{
    font-size: 1.2rem;
    vertical-align: text-top;
}

.plants-text--container .plans--desc{
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: #757575;
    margin-top: 10px;
}

.plants-text--container .plans-pa{
    margin-top: 15px;
    width: 151px;
    height: 41px;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: var(--warm-black);
    font-weight: bold;
    border: var(--bitcoin-orange) solid 2px;
    border-radius: 5px;
    background-color: #faf8f7;
    
}

.plants-text--container .plans-pa span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('./assets/Icons/arrow.svg') no-repeat center;
    background-size: cover;
    font-family: 'DM Sans', sans-serif;
    vertical-align: text-bottom;
}

.plans--container--segundo{
    background-color: var(--warm-black);
}
.plans--container--segundo .plans--pago{
    color: var(--just-while);
}

.plans--container--segundo .plans--precio{
    color: var(--just-while);
}

.plans--container--segundo .plans-pa--segundo{
    color: var(--just-while);
    background-color: var(--warm-black-1);
}

.plans--container .plans--tittle--segundo{
    background-color: var(--secondary-blue);
}

footer {
    display: flex;
    width: 100%;
    min-width: 320px;
    height: 160px;
    background-color: var(--bitcoin-orange);
    align-items: center;
    justify-content: space-evenly;
}

.footer--links ul{
    list-style-type: none;
}
.footer--links li{
    margin: 10px 0;

}

.footer--links ul a{
    color: var(--just-while);
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
}